name: Run Finance App

on:
  workflow_dispatch:  # Allows you to run manually from GitHub Actions tab

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 25

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Run App
        run: java -cp target/financeapp-1.0-SNAPSHOT.jar com.cse.financeapp.App
